<!--SIDEBAR-->
<div class="deep-purple darken-4">
  <ul class="sidenav sidenav-fixed a-sidenav deep-purple darken-4">
    <h4>OrderDb</h4>
    <li class="bold active"><a href="#" class="waves-effect waves-orange">Overview</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">Analytics</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">History</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-orange">Add order</a></li>
    <li class="bold "><a href="#" class="waves-effect waves-orange">Categories</a></li>
    <li class="bold last"><a href="#" class="waves-effect waves-orange">Logout</a></li>
  </ul>
</div>



<main class="content">
  <router-outlet></router-outlet>
</main>

<!--Floating button-->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating green"><i class="material-icons">assignment</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">list</i></a></li>
  </ul>
</div>
