<!--SIDEBAR-->

<div>
  <a href="#" data-target="slide-out"
     class="sidenav-trigger"
     [ngClass]="sideMenuInstance && sideMenuInstance.isOpen ? 'sidenav-trigger-move' : ''">
    <i class="material-icons deep-purple-text text-darken-4 waves-effect waves-orange medium">menu</i>
  </a>
  <ul id="slide-out" class="sidenav sidenav-close deep-purple darken-4" #sideMenu>
    <h4>OrderDb</h4>
    <li class="bold" routerLinkActive="active" *ngFor="let link of links">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">{{link.name}}</a>
    </li>
    <li class="bold last"><a href="#" class="waves-effect waves-orange" (click)="logout($event)">Logout</a></li>
  </ul>
</div>

<main>
  <router-outlet></router-outlet>
</main>

<!--Floating button-->
<div class="fixed-action-btn" #floatingActionButton>
  <a class="btn-floating btn-large deep-purple darken-4 waves-effect waves-orange">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</div>
