<main class="content">
  <div class="page-title">
    <h4>Order history</h4>
    <button class="btn btn-small deep-purple darken-4 waves-effect waves-orange" data-tooltip="Open filter" data-position="left"
            (click)="isFilterVisible = !isFilterVisible"
            [ngClass]="{'active': isFilterVisible,
            'red': isFiltered()}"
            #tooltip>
      <i class="material-icons">filter_list</i>
    </button>
  </div>

  <app-history-filter
    *ngIf="isFilterVisible"
    (onFilter)="applyFilter($event)"
  ></app-history-filter>

  <div *ngIf="!reloading; else reloadingBlock">
    <div *ngIf="orders.length > 0; else emptyBlock">
      <app-history-list [orders]="orders"></app-history-list>
      <div class="center mb2" *ngIf="!noMoreOrders">
        <button class="btn btn-small deep-purple darken-4 waves-effect waves-orange"
                (click)="loadMore()" *ngIf="!loading; else loader">
          Load more
        </button>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
      </div>
    </div>
    <ng-template #emptyBlock>
      <div class="center">There are no orders</div>
    </ng-template>
  </div>

  <ng-template #reloadingBlock>
    <app-loader></app-loader>
  </ng-template>

</main>
