<main class="content">
  <div class="page-title">
    <h4>Order history</h4>
    <button class="btn btn-small deep-purple darken-4 waves-effect waves-orange" data-tooltip="Open filter" data-position="left"
            (click)="isFilterVisible = !isFilterVisible"
            [ngClass]="{'active': isFilterVisible}"
            #tooltip>
      <i class="material-icons">filter_list</i>
    </button>
  </div>

  <app-history-filter *ngIf="isFilterVisible"></app-history-filter>

  <app-history-list></app-history-list>

  <div class="center mb2">
    <button class="btn btn-small deep-purple darken-4 waves-effect waves-orange">Load more</button>
  </div>

</main>
